registry=https://registry.npmjs.org/
@tiket:registry=https://npm.pkg.github.com/
# hard coded github to support vercel deployment
//npm.pkg.github.com/:_authToken=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
