.container {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.link_container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.input:focus {
  outline: none;
}
